version: 2.1

executors:
  deploy:
    parameters:
      dist:
        type: string
      arch:
        type: string
    docker:
      - image: kroniak/ssh-client
    working_directory: /output
    environment:
      DISTRO: << parameters.dist >>
      ARCH: << parameters.arch >>
  rpmbuilder:
    parameters:
      dist:
        type: string
      rpmlint:
        type: integer
        default: 1
      plesk:
        type: integer
        default: 0
      mod:
        type: integer
        default: 0
      enable_repos:
        type: string
        default: ""
    docker:
      - image: getpagespeed/rpmbuilder:<< parameters.dist >>
    working_directory: /sources
    environment:
      RPMLINT: << parameters.rpmlint >>
      PLESK: << parameters.plesk >>
      MOD: << parameters.mod >>
      ENABLE_REPOS: << parameters.enable_repos >>
jobs:
  build:
    parameters:
      dist:
        description: "The dist tag of OS to build for"
        type: string
      plesk:
        description: "Plesk major release version number, e.g. 18"
        type: integer
        default: 0
      mod:
        type: integer
        default: 0
      enable_repos:
        type: string
        default: ""
      resource_class:
        description: "The resource class to use for the build"
        type: string
        default: "medium"
    resource_class: << parameters.resource_class >>
    executor:
      name: rpmbuilder
      dist: << parameters.dist >>
      plesk: << parameters.plesk >>
      mod: << parameters.mod >>
      enable_repos: << parameters.enable_repos >>
    steps:
      - checkout
      - run:
          name: "Set up RPM macro reflecting the NGINX branch"
          command: |
            echo "%nginx_branch ${CIRCLE_BRANCH}" >> rpmmacros
      - run:
          name: "Set up %plesk macro if passed by a job"
          command: |
            [ -z ${PLESK+x} ] || echo "%plesk ${PLESK}" >> rpmmacros
            # we generate both nginx-module-<foo> and sw-nginx-module-<foo> from a single spec file, so:
            [ -z ${PLESK+x} ] || (echo >> rpmlint.config && echo 'addFilter ("E: invalid-spec-name")' >> rpmlint.config)
            [ -z ${MOD+x} ] || echo "%_nginx_mod ${MOD}" >> rpmmacros
            [ -z ${MOD+x} ] || (echo >> rpmlint.config && echo 'addFilter ("E: invalid-spec-name")' >> rpmlint.config)
      - run:
          name: "Run script to cleanup spec files that don't need rebuilding"
          command: |
            [[ ! -f ./cleanup.sh ]] || BRANCH="${CIRCLE_BRANCH}" ./cleanup.sh
      - run:
          name: "Update build script from GitHub (until images are rebuilt)"
          command: |
            curl -sS -o /usr/local/bin/build https://raw.githubusercontent.com/GetPageSpeed/rpmbuilder/master/assets/build
            chmod +x /usr/local/bin/build
      - run:
          name: "Run the build itself: this will do rpmlint and check RPMs existence among other things."
          command: build
      - run:
          name: "Check for RPM files and halt if none exist"
          command: |
            set -x
            if ls /output/*.rpm 1> /dev/null 2>&1; then
              echo "RPM files found. Proceeding with persistence to workspace."
            else
              echo "No RPM files found. Halting the job."
              curl --request POST --url https://circleci.com/api/v2/workflow/$CIRCLE_WORKFLOW_ID/cancel --header "Circle-Token: ${CIRCLE_TOKEN}"
              circleci-agent step halt
            fi
      - persist_to_workspace:
          root: /output
          paths:
            - "*.rpm"
  deploy:
    # one deploy at a time
    parallelism: 1
    parameters:
      dist:
        description: "The dist tag of OS to deploy for"
        type: string
      arch:
        description: "The architecture to deploy for"
        type: string
    executor:
      name: deploy
      dist: << parameters.dist >>
      arch: << parameters.arch >>
    steps:
      - attach_workspace:
          at: /output
      - add_ssh_keys:
          fingerprints:
            - "8c:a4:dd:2c:47:4c:63:aa:90:0b:e0:d6:15:be:87:82"
      - run:
          name: "Ensure project specific upload directory to avoid deploy collisions"
          command: >
            ssh -o StrictHostKeyChecking=no
            $GPS_BUILD_USER@$GPS_BUILD_SERVER
            "mkdir -p ~/incoming/${CIRCLE_PROJECT_REPONAME}/${DISTRO}/${ARCH}/${CIRCLE_BRANCH}"
      - run:
          name: "Deploy all RPMs to GetPageSpeed repo."
          command: >
            scp -o StrictHostKeyChecking=no -q -r *.rpm $GPS_BUILD_USER@$GPS_BUILD_SERVER:~/incoming/${CIRCLE_PROJECT_REPONAME}/${DISTRO}/${ARCH}/${CIRCLE_BRANCH}/
      - run:
          name: "Trigger Deploy Hook."
          command: >
            ssh -o StrictHostKeyChecking=no -q
            $GPS_BUILD_USER@$GPS_BUILD_SERVER
            "nohup ~/scripts/incoming.sh ${CIRCLE_PROJECT_REPONAME}/${DISTRO}/${ARCH}/${CIRCLE_BRANCH}/ > ~/incoming/$CIRCLE_PROJECT_REPONAME/$DISTRO/${ARCH}/${CIRCLE_BRANCH}/process.log 2>&1&"
